*.log
*~
*.swp
backup
coreip
dm
work
synwork
syntmp
synlog
*.bit
*.dum
*.ini
*.h
*.jhd
*.jid
*.lct
*.naf
*.sty
*.tcl
bb_lcd.b2?
bb_lcd.bl?
bb_lcd.cif
bb_lcd.cmi
bb_lcd.crf
bb_lcd.d0
bb_lcd.edi
bb_lcd.exf
bb_lcd.fse
bb_lcd.htm
bb_lcd.imp
bb_lcd.ipr
bb_lcd.l0
bb_lcd.prj
bb_lcd.rev
bb_lcd.sif
bb_lcd.srf
bb_lcd.srm
bb_lcd.srr
bb_lcd.srs
bb_lcd.xrf
lattice_cmd.rs2
run_options.txt
scratchproject.prs
*.err
bb_lcd.eq3
bb_lcd.fti
bb_lcd.lco
bb_lcd.ppn
bb_lcd.rpt
bb_lcd.svl
bb_lcd.tda
bb_lcd.tt4


